html,
body {
  margin: 0;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #191919;
}

/* Div that contains all the elements */
#document-container {
  position: relative;
  height: 100%;
}

/* Header */
header {
  height: 10%;
  width: 100%;
  background-color: #191919;
  display: flex;
  align-items: center;
}

/* h1 that contains the website title*/
#website-title {
  color: white;
  vertical-align: middle;
  margin-left: 5%;
}

/* Main tag that contains everything apart from the header */
#main-container {
  background-color: #191919;
  padding-bottom: 2%;
}

/* Div that contains both bank and work divs*/
#bank-work-container {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

/* Bank Div */
#bank-section {
  margin-left: 5%;
}

/* Work Div */
#work-section {
  position: left;
  margin-right: 5%;
}

/* Bank and Work boxes*/
.box {
  background-color: #e6e6e6;
  width: 35%;
  margin-top: 2%;
  border-radius: 25px;
}

/* Bank and Work Titles*/
.box h1 {
  text-align: center;
}

/* Labels inside the bank and work containers (titles and amounts) */
.label-div {
  display: flex;
  justify-content: space-between;
}

/* Current Balance label inside the bank container */
#lbl-bank-balance-amount {
  margin-bottom: 1%;
}

/* Labels inside the work and bank divs */
.box-label-title {
  font-size: 18px;
  margin-left: 10%;
}

/* Money labels amounts inside the work and bank divs*/
.box-amount {
  font-size: 18px;
  margin-right: 10%;
}

#work-outstanding-loan-div {
  visibility: hidden;
}

/* */
.button-div {
  display: flex;
  justify-content: space-around;
}

/* class for all buttons inside the application*/
.button {
  border: none;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 30%;
  min-width: 100px;
  border-radius: 12px;
  background-color: #191919;
  color: white;
}

/* Div inside bank section for buttons*/
#bank-btn-div {
  position: relative;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Div inside work section for buttons*/
#work-btn-div {
  position: relative;
  margin-bottom: 3%;
  margin-top: 3%;
}

/* Laptop Div*/
#laptop-section {
  border-radius: 25px;
  width: 80%;
  margin: auto;
  background-color: #ececec;
}
#laptop-box {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2%;
}
#laptop-header {
  text-align: center;
}
#laptop-header h1 {
  padding-top: 1%;
}

#laptop-select-div {
  padding-top: 10%;
  margin-left: 5%;
}

#laptop-select-label {
  display: block;
  margin-bottom: 3%;
}

#laptop-overview-div {
  margin-bottom: 2%;
  margin-right: 2%;
  background-color: #ececec;
  width: 70%;
  text-align: center;
}

#laptop-image {
  height: 250px;
  max-width: 300px;
}

#overview-section {
  display: flex;
}

#laptop-information-div {
  padding-top: 10%;
  max-width: 250px;
  margin-left: 5%;
  float: left;
  text-align: left;
}
#buy-laptop-button {
  width: 15%;
  margin-top: 3%;
  margin-bottom: 2%;
}

#no-laptop {
  position: relative;
  width: 100%;
  top: 40%;
  font-size: 1.5rem;
  left: -20%;
}

/* When the screen width is 750px or less */
@media only screen and (max-width: 750px) {
  #website-title {
    color: white;
    vertical-align: middle;
    margin: auto;
  }

  #bank-work-container {
    display: block;
  }
  .box {
    width: 70%;
    padding-bottom: 3%;
  }
  #work-section {
    margin: auto;
  }

  #bank-section {
    margin: auto;
  }
  .box h1 {
    text-align: center;
    padding-top: 5%;
  }

  #laptop-section {
    border-radius: 25px;
    width: 90%;
    background-color: #ececec;
  }
  #laptop-box {
    display: block;
    text-align: center;
    margin-bottom: 5%;
  }
  #laptop-header {
    text-align: center;
  }
  #laptop-header h1 {
    padding-top: 1%;
  }

  #laptop-select-div {
    padding-top: 3%;
  }

  #laptop-select-label {
    display: block;
  }

  #laptop-overview-div {
    display: block;
    margin: auto;
    width: 90%;
    text-align: center;
  }

  #laptop-image {
    height: 200px;
    max-width: 250px;
  }

  #overview-section {
    display: inline-block;
  }

  #laptop-information-div {
    padding-top: 1%;
    margin-left: 30%;
    float: left;
    text-align: left;
  }

  #buy-laptop-button {
    width: 15%;
    margin-top: 3%;
    margin-bottom: 2%;
  }

  #no-laptop {
    position: static;
    margin-top: 10%;
    font-size: 1.5rem;
  }
}
